
body {
  background:url("image.JPG") no-repeat center center fixed;
  background-size:cover;

  font-family: Arial, sans-serif;
  margin: 0;
  
}

nav {
  background-color:magenta;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.page-title {
  color: magenta;
  text-align: center;
  margin-top: 30px;
}

section.home {
  background-color: lightpink;
  color: white;
  padding: 50px 20px;
  max-width: 900px;
  margin: 30px auto;
  border-radius: 15px;
  text-align: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 20px;
}

.product-card {
  background-color:lightpink;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.06);
  }

.product-description {
  text-align: center;
  color: black;
}

.contact-container {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background-color: magenta;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  text-align: center;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin-top: 30px;
}

.info-card {
  flex: 1 1 250px;
  background-color: lightpink;
  padding: 20px;
  border-radius: 15px;

}

.about-container {
  max-width: 800px;
  margin: 30px auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-card {
  background-color:pink;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
   color: blue;
}


